h4 Edit the details of your request
/ -p session[:selected_date]
/ -p session[:overlap]
== slim :'bookings/request_details_form', locals: {prefilled: false, overlaps: session[:overlapping_bookings], selected_date: session[:selected_date], booked_timestrokes: @booked_timestrokes}