h2= "Booking request by #{current_booking['name']}"
h4= "Mail: #{current_booking['mail']}"
h4= "Details: #{current_booking['details']}"
h4= "Reserved rooms"
.reservations
    -for reserv in current_booking_reservations
        p= "#{reserv['name']} from #{reserv['start_time']} to #{reserv['end_time']}"